<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>TicketyPom</h1>
    </header>

    <main class="container">
        <div class="hero">
            <h2>Pomodoro² </h2>
            <p>Focus Made Simple - One Tickety Pom at a time</p>
            <a href="#" class="button">Download Now</a>
        </div>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>&copy; 2025 TicketyPom. All rights reserved.</p>
    </footer>
</body>
</html>